body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

header {
  background: #6a0dad;
  color: white;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login { background: #ffd700; }
.logout { background: #ff4c4c; color:white; }

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
  gap: 15px;
  padding: 20px;
}

.game-card {
  background:white;
  padding:10px;
  border-radius:12px;
  cursor:pointer;
}

.modal {
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.7);
  justify-content:center;
  align-items:center;
}

.modal-content {
  background:white;
  padding:20px;
  border-radius:10px;
}

.points-box {
  background:#ffd700;
  padding:10px;
  border-radius:10px;
         }
